<div class="container py-8 md:py-12">
  <div class="mb-8">
    <p class="mb-2 text-sm font-medium text-primary-800">Detalhes da solicitação</p>
    <h1 class="mb-2 text-3xl font-extrabold text-gray-900 md:text-4xl">
      Orçamento #{{ requestData?.id }}
    </h1>
    <p class="text-gray-500">Acompanhe os detalhes do seu orçamento de manutenção.</p>
  </div>
  <app-request-details-card [requestData]="requestData">
    <div class="rounded-b-xl bg-gray-50 p-6">
      @if (requestData?.statusName === requestStatus.Quoted) {
        <div class="grid gap-3 sm:grid-cols-2">
          <button
            type="button"
            class="rounded-xl bg-emerald-500 px-5 py-2.5 font-medium text-white transition hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-200 shadow-sm cursor-pointer"
            (click)="onApprove()"
          >
            Aceitar
          </button>
          <button
            type="button"
            class="rounded-xl bg-red-600 px-5 py-2.5 font-medium text-white transition hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-200 shadow-sm cursor-pointer"
            (click)="onReject()"
          >
            Rejeitar
          </button>
        </div>
      }
      @if (requestData?.statusName === requestStatus.Rejected) {
        <div class="grid gap-3">
          <button
            type="button"
            class="rounded-xl bg-blue-500 px-5 py-2.5 font-medium text-white transition hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-200 shadow-sm cursor-pointer"
            (click)="onRescue()"
          >
            Resgatar Serviço
          </button>
        </div>
      }
    </div>
  </app-request-details-card>
</div>

@if (isRejectionModalOpen) {
  <app-rejection-modal
    (cancel)="onCancelReject()"
    (confirm)="onConfirmReject($event)"
    [isRejecting]="isRejecting"
  />
}

@if (isApproveModalOpen) {
  <app-approve-modal
    (cancel)="onCancelApprove()"
    (confirm)="onConfirmApprove()"
    [isApproving]="isApproving"
  />
}

@if (isRescueModalOpen) {
  <app-rescue-modal
    (cancel)="onCancelRescue()"
    (confirm)="onConfirmRescue()"
    [isRescuing]="isRescuing"
  />
}
