<div class="rounded-xl border border-gray-200 bg-white shadow-sm">
  <!-- Informações Gerais Requisição -->
  <div
    class="flex flex-col gap-4 border-b border-gray-200 p-6 md:flex-row md:items-center md:justify-between"
  >
    <div>
      <p class="text-sm text-gray-500">Data de abertura:</p>
      <p class="mt-1 font-medium text-gray-900">
        {{ requestData?.openingDateTime | date: 'dd/MM/yyyy HH:mm' }}
      </p>
    </div>
    <div class="flex flex-wrap gap-2">
      <span class="rounded-full bg-gray-200 px-3 py-1 text-sm font-medium text-primary-800">
        {{ requestData?.categoryName }}
      </span>
      <span
        [class]="
          'rounded-full px-3 py-1 text-sm font-medium first-letter:uppercase ' +
          getStatusClass(requestData?.statusName)
        "
      >
        {{ requestData?.statusName | lowercase }}
      </span>
    </div>
  </div>

  <!-- Informações Equipamento e defeito -->
  <div class="grid border-b-2 border-gray-200 gap-6 p-6 md:grid-cols-2">
    <div>
      <p class="mb-2 text-sm font-medium text-gray-500">Equipamento:</p>
      <p class="text-base leading-relaxed text-gray-900">
        {{ requestData?.equipmentDescription }}
      </p>
    </div>
    <div>
      <p class="mb-2 text-sm font-medium text-gray-500">Problema Relatado</p>
      <p class="text-base leading-relaxed text-gray-900">
        {{ requestData?.defectDescription }}
      </p>
    </div>
  </div>

  <!-- Orçamento/Pagamento -->
  @if (requestData?.quoteValue) {
    <div class="bg-gray-50 p-6 border-b-2 border-gray-200">
      <div class="flex flex-col gap-2 sm:flex-row sm:justify-between">
        <div>
          <p class="text-sm font-medium text-gray-500">
            @if (requestData?.statusName === requestStatus.Arranged) {
              Valor do Pagamento
            } @else if (
              requestData?.statusName === requestStatus.Quoted ||
              requestData?.statusName === requestStatus.Rejected
            ) {
              Valor do Orçamento
            } @else {
              Valor da requisição
            }
          </p>
          <p class="text-sm text-gray-400">Valor estimado para o serviço</p>
        </div>
        <p class="text-2xl font-extrabold text-primary-800">
          {{ requestData?.quoteValue | currency: 'BRL' }}
        </p>
      </div>
    </div>
  }

  <!-- Área de Histórico -->
  @if (requestData?.history && requestData!.history.length > 0) {
    <div class="bg-gray-50 p-6 rounded-b-xl border-b-2 border-gray-200 border-dashed">
      <h3 class="mb-4 text-sm font-bold text-gray-700 uppercase">Histórico da Solicitação</h3>
      <ul class="border-l-2 border-primary-800 ml-3 flex flex-col-reverse gap-6">
        @for (item of requestData.history; track item.id) {
          <li class="relative pl-6">
            <span
              class="absolute -left-2 top-4 h-4 w-4 rounded-full bg-primary-800 border-2 border-gray-50"
            ></span>
            <div
              class="bg-white rounded-2xl p-4 shadow-sm border border-gray-100 flex flex-col gap-3 transition-transform hover:-translate-y-1"
            >
              <div class="flex justify-between items-center flex-wrap gap-2">
                <span class="font-medium text-gray-500">
                  {{ item.dateTime | date: 'dd/MM/yyyy HH:mm' }}
                </span>
                <span
                  class="px-3 py-1 rounded-2xl text-xs font-semibold"
                  [ngClass]="getStatusClass(item.newStatus)"
                  >Status alterado para {{ item.newStatus }}</span
                >
              </div>
              <div class="flex flex-col gap-3">
                @if (item.employeeName) {
                  <p class="text-sm text-gray-600">
                    <strong class="text-gray-700 font-semibold">Atendido por:</strong>
                    {{ item.employeeName }}
                  </p>
                }
                @if (item.notes) {
                  <p
                    class="text-sm text-gray-700 bg-gray-100/65 p-3 rounded-lg border border-gray-200/80"
                  >
                    {{ item.notes }}
                  </p>
                }
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  }

  <!-- Área dinâmica -->
  <ng-content></ng-content>
</div>
