<app-modal-container>
  <h2 class="mb-6 text-2xl font-extrabold text-gray-900 md:text-3xl">
    Deseja realmente confirmar o orçamento?
  </h2>
  <div class="flex justify-end gap-3">
    <button
      class="rounded-lg border border-gray-300 px-5 py-2 font-medium text-gray-700 transition hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-50 cursor-pointer"
      type="button"
      (click)="cancel.emit()"
    >
      Cancelar
    </button>
    <button
      class="rounded-lg bg-green-600 px-5 py-2 font-medium text-white transition hover:bg-green-800 focus:bg-green-800 focus:outline-none focus:ring-2 focus:ring-green-50 cursor-pointer disabled:bg-gray-300"
      [disabled]="isApproving"
      (click)="confirm.emit()"
    >
      @if (!isApproving) {
        Aprovar Orçamento
      } @else {
        Aprovando...
      }
    </button>
  </div>
</app-modal-container>
